# Node related
node_modules/
npm-debug.log*

# Environment files
.env

# Logs
*.log

# OS generated
.DS_Store
Thumbs.db

# IDE specific files (e.g., Visual Studio Code)
.vscode/

# Optional: If you have a build or distribution directory
/dist
/build

# Optional: If you use Sass, you might compile it to a CSS file, which you might want to ignore
/css
